<ion-modal-view class="pin-modal">
	<ion-header-bar no-tap-scroll="true">
  		<h1 class="title">{{current_title}}</h1>
  		<i class="icon ion-close-round icon-right" on-tap="closeModal('pin-modal')"></i>
	</ion-header-bar>
	<ion-content>
  		<ion-list>
		    <ion-item class="button button-full button-outline button-positive">
		     	Make this my goal
		    </ion-item>
		    <ion-item class="button button-full button-outline button-positive">
		     	Make this my victory
		    </ion-item>
		    <ion-item class="button button-full button-outline button-positive">
		     	Follow user
		    </ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>